.content {
  min-height: 90vh;
  // border: 1px solid red;
  margin: 20px;
}

.calendarContainer {
  margin: 20px;
  // border: 1px solid red;
  height: 400px;
  // background-color: #D3D3D3;
  // box-shadow: 1px 1px 16px #808080;
  // border-radius: 10px;
}

.calendar {
  border: 1px solid #d3d3d3;
  background-color: #d3d3d3;
  margin: 50px 100px;
  border-radius: 10px;
  height: 100%;
  // vertical-align: middle;
}