.content {
  min-height: 90vh;
  margin: 20px;
}

.calendarContainer {
  margin: 20px;
  height: 400px;
}

.calendar {
  border: 1px solid #d3d3d3;
  background-color: #d3d3d3;
  margin: 50px 100px;
  border-radius: 10px;
  height: 100%;
}